#create-account-container, #edit-account-form-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-top: 5%;
}
#create-account-form, #edit-account-form {
    display: flex;
    flex-direction: column;
}
.form-line {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: auto;
    margin: 5px;
    height: 44px;
}
.createAccountBtn {
    height: 50px;
    width: 100%;
    margin-top: 8%;
    background-color: rgb(255, 131, 0);
    font: 18px "Helvetica for Target", "HelveticaNeue for Target", "Helvetica Neue", Helvetica, Arial, sans-serif;
    border: none;
}

.createAccounttitle {
    font: 34px "Helvetica for Target", "HelveticaNeue for Target", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    font-weight: 300;
    margin-bottom: 5%;
}

.createAccountBtn:hover {
    border: 2px solid rgb(28, 27, 27);
}

