
.delete-from-cart:hover {
    cursor: pointer;
}

.cart-item-display {
    background-color: white;
    padding: 10px;
    display: flex;
    flex-direction: row;
    margin: 10px;
    border-top: 1px solid grey;
    border-width: 100%;
    padding-top: 5%;
}
.cart-item-details {
    color: black;
    margin: 10px
}
.inventory-item-warning {
    color: red;
}
.checkout-total, .order-address, .hidden-address-warning, .address-warning, .checkout-header {
    margin-left: auto;
    margin-right: auto;
    margin-top: .5em;
    margin-bottom: .5em;
}
.hidden-address-warning {
    color: white;
}
.address-warning {
    color: red;
}
.checkout-item-details {
    display: flex;
    flex-direction: column;
}
.cart-link-complete-purchase-line {
    margin: auto
}
.back-to-cart-link {
    margin-right: 1em;
}
.checkoutBtn:hover {
    cursor: pointer;
}