.delete-from-cart {
    margin: 10px;
    color: red;
    background-color: none;
}
.delete-from-cart:hover {
    cursor: pointer;
}

.cart-display, .checkout-item-details {
    color: white;
}

.cart-item-display {
    background-color: white;
    padding: 10px;
    display: flex;
    flex-direction: row;
    width: max-content;
    margin: 10px;
}
.cart-item-details {
    color: black;
    margin: 10px
}