
.delete-from-cart:hover {
    cursor: pointer;
}

.cart-item-display {
    background-color: white;
    padding: 10px;
    display: flex;
    flex-direction: row;
    margin: 10px;
    border-top: 1px solid grey;
    border-width: 100%;
    padding-top: 5%;
}
.cart-item-details {
    color: black;
    margin: 10px
}
.inventory-item-warning {
    color: red;
}