/* may later put inside a navbar component*/

header {
    background-color: black;
    opacity: 0.75;
    height: 150px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
}
/* temp styling for nav bar links for now */

.welcome-user {
    display: flex;
    flex-direction: column;
    margin: 5px;
    align-items: flex-end;
    justify-content: space-between;
    color: white
}

.username, .create-account-link {
    color: blue
}

.username:hover,.create-account-link:hover {
    color: white
}

/* SignIn component */
#login-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-end;
}
.login-line {
    display: flex;
    flex-direction: row;
    margin: .1em;
    justify-content: space-between;
    max-width: 200px;
}
.login-input {
    max-width: 100px;
    min-width: 50px;
}