.accountinfoheader {
    font: 28px "Helvetica for Target", "HelveticaNeue for Target", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.user-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px;
    row-gap: 30px;
}

.profileLinks {
    display: flex;
    flex-direction: row;
    column-gap: 80px;
}

.profLinks {
    border: 1.5px solid black;    
    text-decoration: none;
    color: black;
    padding:10px;
    font-weight: 500;
    background-color: rgb(255, 131, 0);
    font: 18px "Helvetica for Target", "HelveticaNeue for Target", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.profLinks:hover {
    color:  rgb(255, 131, 0);
    background-color: black;
}

.userDetails {
    font: 16px "Helvetica for Target", "HelveticaNeue for Target", "Helvetica Neue", Helvetica, Arial, sans-serif;
}