.displayCostumes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: white;
}

.categoryHeader {
    display: flex;
    flex-direction: row;
    height: 60px;
    background-color:black;
    opacity: 0.85;
    border-top: 3px solid rgb(255, 131, 0);
}

.costume {
    height: 300px;
    width: 200px;
    align-content: space-between;
    padding: 20px;
    border: 5px solid white;
    text-decoration: none;
    background-color: white;
    font-weight: 530;
}

.image {
    width: 100%;
    height: 225px;
    display: block;
    margin: 0;
}

.sortbylabel {
    color: rgb(255, 131, 0);
    margin-right: 5px;
}

.costumeName {
    color: black;
    margin-bottom: 8%;
}

.costumePrice {
    color: black;
}

.categoryHeaderLeft {
    padding: 20px;
}

.categoryHeaderMiddle {
    padding: 20px;
    margin-left: 25%;
    display: flex;
    flex-direction: row;
}

.viewlabel {
    color: rgb(255, 131, 0);
    margin-right: 5px;
}

.pagenumber{
    margin-left: 100%;
}

.categoryHeaderRight {
    padding:20px;
}



