.pageNav {
  width: 100%;
  display: flex;
  margin-left: auto;
  justify-content: flex-end;
  font-size: 1.2rem;
  align-items: center;
}
.pageNav > a {
  padding-right: 0.2em;
  text-decoration: none;
}
.activePage {
  font-size: 1.2em;
  font-weight: 800;
}
