table, th, td {
    border: 1px solid;
}

#all-products-table, #all-users-table {
    margin-top: 50px;
}

td {
    min-width: 50px;
    max-width: 150px;
    overflow: scroll;
    height: 50px;
    white-space: nowrap;
    padding: 5px
}